<% include ../partials/header %>

<div class="container">
        <h1 class="text-center">Edit Comment</h1>
        <div style="width:30%; margin:25px auto;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <textarea class="form-control" type="text" name="comment[text]" placeholder="text"><%= comment.text %></textarea>
                </div>

                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
        
        
</div>

<% include ../partials/footer %>